body {
    margin: 0;
    height: 100vh;
    font-weight: 100;
    background: radial-gradient(circle, #76c7d5, #1a3e5a);
    overflow-y: hidden;
    animation: fadeIn 1s ease-out;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Barra de Título */
.header-bar {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-bar h1 {
    margin: 0;
    font-size: 24px;
}

.logout-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.logout-btn:hover {
    background-color: #d32f2f;
}

.container {
    width: 80%;
    margin: 20px auto;
}

/* Tarjeta Motivacional */
.motivational-card {
    background-color: #1660ff;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 22px;
    animation: colorChange 5s ease-in-out infinite alternate;
}

/* Animación de cambio de color */
@keyframes colorChange {
    0% {
        background-color: #003cbd; /* Verde inicial */
    }
    50% {
        background-color: #13326b; /* Verde claro */
    }
    100% {
        background-color: #002b4e; /* Verde oscuro */
    }
}


/* Ajuste para tarjetas en pantalla completa */
.grid-container {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Cambio a auto-fit para ajustar tarjetas */
    gap: 20px;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.card h3 {
    margin-bottom: 10px;
}

.card p {
    color: #333;
}

/* Efecto de hover para las tarjetas */
.card:hover {
    transform: scale(1.05);
    background-color: #1660ff;
    color: white;
}

.card:hover p{
    color:white
}

/* Barra de Descripción */
.about-bar {
    background-color: #333;
    color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    margin-top: 40px;
}

.about-bar h3 {
    margin-bottom: 10px;
}

.about-bar p {
    margin: 0;
}

.bg {
    animation:slide 20s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(240, 241, 240) 50%, #09f 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:20s;
  }
  
  .bg3 {
    animation-duration:10s;
  }

@keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }

  .modal-carga {
    display: none;
    /* Oculto por defecto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    /* Fondo semitransparente */
    z-index: 9999;
    /* Asegura que esté encima de todos los elementos */
    align-items: center;
    justify-content: center;
}

.spinnerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spinner {
    width: 56px;
    height: 56px;
    display: grid;
    border: 4px solid #0000;
    border-radius: 50%;
    border-right-color: #299fff;
    animation: tri-spinner 1s infinite linear;
}

.spinner::before,
.spinner::after {
    content: "";
    grid-area: 1/1;
    margin: 2px;
    border: inherit;
    border-radius: 50%;
    animation: tri-spinner 2s infinite;
}

.spinner::after {
    margin: 8px;
    animation-duration: 3s;
}

@keyframes tri-spinner {
    100% {
        transform: rotate(1turn);
    }
}

.loader {
    color: #4a4a4a;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 25px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 40px;
    padding: 10px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 8px;
}

.words {
    overflow: hidden;
}

.word {
    display: block;
    height: 100%;
    padding-left: 6px;
    color: #003366;
    animation: cycle-words 5s infinite;
}

@keyframes cycle-words {
    10% {
        -webkit-transform: translateY(-105%);
        transform: translateY(-105%);
    }

    25% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    35% {
        -webkit-transform: translateY(-205%);
        transform: translateY(-205%);
    }

    50% {
        -webkit-transform: translateY(-200%);
        transform: translateY(-200%);
    }

    60% {
        -webkit-transform: translateY(-305%);
        transform: translateY(-305%);
    }

    75% {
        -webkit-transform: translateY(-300%);
        transform: translateY(-300%);
    }

    85% {
        -webkit-transform: translateY(-405%);
        transform: translateY(-405%);
    }

    100% {
        -webkit-transform: translateY(-400%);
        transform: translateY(-400%);
    }
}
